<div id="main-container">
            <div id="main">
                <h1>
                    Shoot -login
                </h1>
                <div id="login-form">
                    <form action="/auth/verify/" method="post" id="login_form">
                        <fieldset>
                            <label for="password">Password</label>
                            <input class="text-input" id="password" name="pwrd" tabindex="2" type="password" value="">
                        </fieldset>
                        <fieldset>
                            <span class="errormessage">Choose a password</span>
                        </fieldset>
                        <div id="form_btn">
                            <input id="signin-btn" class="btn btn-blue" type="submit" value="Sign In" tabindex="3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
